* {
    margin: 0;
    padding: 0;
}

.container {

    justify-items: center;
    background-color: black;
    width: 100%;
    height: 100vh
}

.containerr {
    justify-content: space-around;
    display: flex;
    align-content: center;
    align-items: center;
    width: 849px;
    height: 90px;
    top: 132px;
    left: 438px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background: #34344A;

}

.h1d {
    width: 328px;
    height: 42px;
    top: 47px;
    left: 700px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    padding: 50px;

}

.setbtn {
    width: 124px;
    height: 52px;
    top: 174px;
    left: 1115px;
    gap: 0px;
    border-radius: 26px;
    opacity: 0px;
   

    background: #F0F757;


}
#timeDisplay{
    color: white;
   
}
#set_time {
    width: 142px;
    height: 28px;
    top: 186px;
    left: 471px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    align-self: center;
    background: #34344A;
    color: white;


}

.timd {
   
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.25px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #34344A;
    color: white;
    margin-left: 15px;

}
.timd2{
    text-decoration: none;
}
.crunt{
    width: 300px;
height: 50px;

gap: 0px;
border-radius: 50px ;
opacity: 0px;
background: #39393E;
color: white; 
margin: 33px;
align-content: center;
}
.c1{
 
 
gap: 0px;
border-radius: 50px;
opacity: 0px;
font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 28.13px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;

}
.pci{
   
    width: 321.37px;
height: 28px;
top: 428px;
left: 703px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;


}
.timec{
    display: flex;
}
